.container{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  
}

.containerCrear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 592px;
  height: 144px;
  padding: 16px;
  border-radius: 8px;
  background: hsla(0, 0%, 100%, 1);
  position: relative;
}
.contentCrear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*   width: 560px;
  height: 112px; */
  gap: 50px;
}
.contentTitle {
  display: flex;
  width: 560px;
  height: 60px;
  gap: 16px;
  justify-content: start;
  flex-direction: column;
}
.title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  color: hsla(0, 0%, 45%, 1);
  background: transparent;
  border: none;
}
.notes {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
  background: transparent;
  border: none;
  color: hsla(0, 0%, 45%, 1);

  width: 560px;
  height: 24px;
}
.contentButtons {
  display: flex;

  width: 560px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
}
.buttonKeep {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  color: hsla(240, 6%, 10%, 1);
  background: transparent;
}
.colors {
  background: transparent;
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 100px;
}
.pin {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  width: 36px;
  height: 36px;
  padding-inline: auto;
  padding-top: 7px;
  border-radius: 100px;
}
input:focus{
  outline:none;
}