.header {
  display: flex;
  height: 70px;
  padding: 12px 32px 12px 32px;
  border-bottom: 1px solid;
  justify-content: space-between;
  align-items: center;
}

.header--title {
  height: 28px;

  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
}

.header--button {
  width: 63px;
  height: 34px;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;

  background-color: transparent
}
